<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tasks Administrator</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="containter">
    <div class="navigation">
      <br>
      <ul>
        <li>
          <a href="#">
            <span class="icon"></span>
            <span class="title">Administrador de tareas</span>
          </a>
        </li>
          <li>
            <a href="#">
              <span class="icon"></span>
              <span class="title">Crear Tareas</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"></span>
              <span class="title">Mis Tareas</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"></span>
              <span class="title">Consultar</span>
            </a>
          </li>
      </ul>

    </div>

  </div>
  <app-root></app-root>

</body>
</html>

