<section>
    <header>
        <a><img src="assets/tasks.png" class="logo"></a>
            <ul>
                <li><a routerLink="/register">Registrarse</a></li>
                <li><a routerLink="/create">Agregar Tareas</a></li>
                <li><a routerLink="/list">Consultar Tareas</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
    </header>
        <div class="content">
            <div class="textBox">
                <h2>tienes tareas ?<br><span>administralas!</span></h2>
                <p>Lorem ipsum dolor sit amet. A dolor neque nam blanditiis facilis ut perferendis 
                    quia sed excepturi nihil et consequatur quisquam sed iure fuga? In voluptate 
                    cupiditate qui esse aliquid et praesentium dolorem aut consequatur molestias 
                    sed tempora minima.</p>
            </div>
            <div class="Box">
                <div class="container">
                <div class="card card-container">
                   <img id="profile-img" class="profile-img-card" src="assets/login.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus formControlName="user">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required formControlName="password">
                        <div id="remember" class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Recordar
                            </label>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Ingresar</button>
                    </form>
                    <br>
                    <p>aún no tines una cuenta?</p>
                    <a routerLink="/register" class="register">Registrate</a>
                </div>
            </div>
        </div>
        </div>
        <ul class="thumb">
            <li><a routerLink="/create"><img src="assets/createTasks.png"></a></li>
            <li><a routerLink="/list"><img src="assets/adminTasks.png"></a></li>
            <li><a routerLink="/edit"><img src="assets/manageTasks.png"></a></li>
        </ul>
        <ul class="thumbText">
            <li>crea</li>
            <li>administra</li>
            <li>optimiza</li>
        </ul>
        <ul class="sci">
            <li><a href="#"><img src="assets/facebook.png"></a></li>
            <li><a href="#"><img src="assets/instagram.png"></a></li>
            <li><a href="#"><img src="assets/twitter.png"></a></li>
        </ul>
</section>


    
    
    
    
