    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="assets/tasks.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus formControlName="user">
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required formControlName="password">
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordar
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Enviar</button>
            </form><!-- /form -->
            <a href="#" class="register">
                Registrarse
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->

