<section>
    <header>
        <a><img src="assets/tasks.png" class="logo"></a>
            <ul>
                <li><a routerLink="/register">Registrarse</a></li>
                <li><a routerLink="/create">Agregar Tareas</a></li>
                <li><a routerLink="/list">Consultar Tareas</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
            </ul>
    </header>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Agregar Tarea
            </div>
            <div class="card-body">
                <form ngNativeValidate [formGroup]="formTasks" (ngSubmit)="sendData()">
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre:</label>
                            <input required type="text"
                                class="form-control" name="" formControlName="name_task" id="" aria-describedby="helpId" placeholder="Escriba el nombre de la tarea">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Descripción:</label>
                            <input required type="text"
                                class="form-control" name="" formControlName="description" id="" aria-describedby="helpId" placeholder="Agregar descripción">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Fecha de creación:</label>
                        <input type="date" required name="begin" formControlName="dateBegin" max="3000-12-31" 
                            min="1000-01-01" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="" class="form-label">Fecha de finalización:</label>
                        <input type="date" required name="ending" formControlName="dateEnding" min="1000-01-01"
                            max="3000-12-31" class="form-control">
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="" class="form-label">Estado:</label>
                        <select class="form-select" required formControlName="status" aria-label="Default select example">
                            <option selected>seleccionar estado de la tarea</option>
                            <option value="1">En Proceso</option>
                            <option value="2">Finalizada</option>
                        </select>
                    </div>
                    <br>
                    <div class="btn-group" role="group" aria-label="">
                        <button class="btn btn-success" type="submit">Agregar</button>
                        &nbsp;
                        <button class="btn btn-primary" routerLink="/list" type="button">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</section>